<?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
	xmlns:media="http://search.yahoo.com/mrss/"
>

<channel>
	<title>Toolsday</title>
	<atom:link href="http://toolsday.io/feeds/rss.xml" rel="self" type="application/rss+xml" />
	<link>http://toolsday.io</link>
	<description>Toolsday is a 20-minute podcast about the latest in tech tools, tips, and tricks on Tuesdays at 2! (Our alliteration game is so strong). The podast is brought to you by Chris Dhanaraj and Una Kravets, and recorded live on IBM radio. After the show, we collect resources and post our episodes here.</description>
	<lastBuildDate><%= new Date().toUTCString() %></lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://harpjs.com</generator>
	<copyright>Copyright © Una Kravets and Chris Dhanaraj 2015</copyright>
	<managingEditor>una.kravets@gmail.com (Una Kravets)</managingEditor>
	<webMaster>una.kravets@gmail.com (Una Kravets)</webMaster>
	<category>Web, Development</category>
	<ttl>1440</ttl>
	<image>
		<url>http://toolsday.io/img/logo-1400-1400.png</url>
		<title>Toolsday</title>
		<link>http://toolsday.io</link>
		<width>1400</width>
		<height>1400</height>
	</image>
	<itunes:subtitle>Hosted by Una Kravets and Chris Dhanaraj</itunes:subtitle>
	<itunes:summary>20 minutes of tech tool talk on Tuesdays at 2.</itunes:summary>
	<itunes:keywords>toolsday, technolody, tech tools, frontend, web, development, web performance</itunes:keywords>
	<itunes:category text="Technology">
		<itunes:category text="Tech News" />
	</itunes:category>
	<itunes:category text="Technology" />
	<itunes:author>Toolsday</itunes:author>
	<itunes:owner>
		<itunes:name>Toolsday</itunes:name>
		<itunes:email>una.kravets@gmail.com</itunes:email>
	</itunes:owner>
	<itunes:block>no</itunes:block>
	<itunes:explicit>no</itunes:explicit>
	<itunes:image href="http://toolsday.io/img/logo-1400-1400.png" />
	<itunes:new-feed-url>http://toolsday.libsyn.com/rss</itunes:new-feed-url>

	<% for (var slug in public.episodes._data) { %>
	<% if (public.episodes._data[slug].audio && public.episodes._data[slug].filesize) { %>
	<item>
		<title><%= public.episodes._data[slug].title %></title>
		<link>http://toolsday.io/episodes/<%= slug %>.html</link>
		<pubDate><%= new Date(public.episodes._data[slug].date).toUTCString() %></pubDate>
		<guid isPermaLink="true">http://toolsday.io/episodes/<%= slug %>.html</guid>
		<description><%= public.episodes._data[slug].description %></description>

		<enclosure url="http://toolsday.io/<%= public.episodes._data[slug].audio %>" length="<%= public.episodes._data[slug].filesize %>" type="audio/mpeg" />

		<itunes:summary><![CDATA[<%= public.episodes._data[slug].description %> See <a href="http://toolsday.io/episodes/<%= slug %>">show notes link</a> for resources.]]></itunes:summary>
		<itunes:duration><%= public.episodes._data[slug].duration %></itunes:duration>
		<itunes:subtitle><%= public.episodes._data[slug].description %></itunes:subtitle>
		<itunes:author>Una Kravets and Chris Dhanaraj</itunes:author>
		<itunes:explicit>no</itunes:explicit>
		<itunes:block>no</itunes:block>
	</item>
	<% } %>
	<% } %>
</channel>
</rss>
