<html>
  <meta charset="utf-8" />
  <head>
    <title>Toolsday Podcast</title>
    <%- partial("_partials/_head") %>
  </head>
  <body>
    <%- partial("_partials/_header") %>
    <%- partial("_partials/_hero") %>
    <main>
      <%- yield %>
    </main>
    <%- partial("_partials/_footer") %>
  </body>
</html>