<section class="about-section">
  <section class="about__intro">
    <figure class="about__main-img">

    <p class="about__main-desc">Toolsday is a 20-minute podcast about the latest in tech tools, tips, and tricks on Tuesdays at 2! (Our alliteration game is so strong). The podast is brought to you by <a href="http://twitter.com/chrisdhanaraj">Chris Dhanaraj</a> and <a href="http://twitter.com/una">Una Kravets</a>, and recorded live on IBM radio. After the show, we collect resources and post our episodes here.</p>
  </section>
</section>

<section id="episode-area" class="episodes">
  <h1>Episodes:</h1>

  <ul class="home__post-list">
    <% var n = 0;
      for(var key in public.episodes._data){
      n++ %>
      <li class="home__ep" style="color:<%= public.episodes._data[key].color %>">
          <div class="home__ep--color"></div>
          <div class="home__ep-info">
          <h2 class="home--post-list--title">
          <audio controls src="<%= public.episodes._data[key].audio %>"></audio>
            <a href="/episodes/<%= key %>.html">
              <%= public.episodes._data[key].title %>
            </a>
          </h2>
          <p class="home__ep-date">
            <%= public.episodes._data[key].date %>
          </p>
          <p class="home__ep-description">
            <%= public.episodes._data[key].description %>
          </p>
          <a class="more-link" href="/episodes/<%= key %>.html">See Show Notes &rarr; </a>
      </li>
    <% } %>
  </ul>
</section>